<div class="row">
    <% if (msg) { %>
    <div class="alert alert-danger"><%=msg %></div>
    <% } %>
    <div class="col-lg-12">
        <div>
            <div class="filtroMapa">
            <button type="button" class="fa fa-clock-o" onclick="filtrarHorario()"></button>
            <button type="button" class="fa fa-dollar" onclick="filtrarPreco()"></button>
            <button type="button" class="fa fa-location-arrow" onclick="filtrarAmbiente()"></button>
            <button type="button" class="fa fa-male" onclick="filtrarAtendimento()"></button>
            <button type="button" class="fa fa-glass" onclick="filtrarBebidas()"></button>
            <button type="button" class="fa fa-cutlery" onclick="filtrarTiraGosto()"></button>
            </div>
            <div id="map" style="height: 410px; border: 1px solid #AAA;"></div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalExcluir">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Oops...</h4>
			</div>
			<div class="modal-body">
				<p>
					Tem certeza que deseja excluir o Time Out <span id="lblNome"></span>? Essa operação NÃO pode ser desfeita!
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" onclick="excluir()"><i class="fa fa-check"></i> Excluir</button>
				<button type="button" class="btn btn-outline btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
			</div>
		</div>
	</div>
</div>

<%- contentFor("styles") %>
<link rel="stylesheet" type="text/css" href="/lib/leaflet/css/leaflet.css" />

<style type="text/css">
    .ghost {
        display: inline-block;
        overflow: hidden;
        width: 0;
    }
</style>

<%- contentFor("scripts") %>
<script type='text/javascript' src='/lib/leaflet/js/leaflet.js'></script>

<script type='text/javascript'>
    var timeouts = <%- timeouts %>;
    var timeoutsFiltrados = timeouts.slice();
    var map = L.map('map');
    var id_para_excluir = 0;

    function mostrarModalExcluir(indice) {
        if (JsonWebApi.active)
            return;

        id_para_excluir = timeouts[indice].id_localizacao;
        $("#lblNome").text(timeouts[indice].nome_localizacao);

        $("#modalExcluir").modal({
            backdrop: "static",
            keyboard: true
        });
    }

    function excluir(id_localizacao) {
        if (JsonWebApi.active || !id_para_excluir)
            return;

        $("#modalExcluir").modal("hide");

        Notification.wait();

        JsonWebApi.get("/api/timeout/excluir", function (response) {
            if (response.success) {
                location.reload(true);
            } else {
                Notification.error(response.value, true);
            }
        }, "id_localizacao", id_para_excluir);

        id_para_excluir = 0;
    }   


    function onMarkerClick() {
        var timeout = this.timeout;
        var popup = L.popup()
            .setLatLng([timeout.latitude_localizacao, timeout.longitude_localizacao])
            .setContent('<p>' + timeout.nome_localizacao
                + '<br>Horários: ' + timeout.horario_abertura_localizacao + ' às ' + timeout.horario_fechamento_localizacao
                + '<br>Preço: ' + '<span class="ghost">' + timeout.preco_localizacao + '</span>' + star$(timeout.preco_localizacao)
                + '<br>Ambiente: ' + '<span class="ghost">' + timeout.ambiente_localizacao + '</span>' + star(timeout.ambiente_localizacao)
                + '<br>Atendimento: ' + '<span class="ghost">' + timeout.atendimento_localizacao + '</span>' + star(timeout.atendimento_localizacao)
                + '<br>Bebidas: ' + '<span class="ghost">' + timeout.bebida_localizacao + '</span>' + star(timeout.bebida_localizacao)
                + '<br>Tira gosto: ' + '<span class="ghost">' + timeout.tira_gosto_localizacao + '</span>' + star(timeout.tira_gosto_localizacao)
                + '<a class="btn btn-outline btn-primary btn-block" href="/timeout/alterar?id_localizacao=' + timeout.id_localizacao + '"><i class="fa fa-edit"></i>Editar</a>'
                + '<button type="button" class="btn btn-outline btn-danger btn-block" onclick="mostrarModalExcluir(' + timeout.indice + ')"><i class="fa fa-times"></i>Excluir</a>'
                + '</p>')
            .openOn(map);
    }

    function star(x) {
        var html = '', i = 0, xi = x | 0;
        while (i < xi) {
            html += '<i class="fa fa-star"></i>';
            i++;
        }
        if (xi !== x) {
            html += '<i class="fa fa-star-half"></i>';
            i++;
        }
        //while (i < 5) {
        //    html += '<i class="fa fa-star-o"></i>';
        //    i++;
        //}
        return html;
    }

    function star$(x) {
        var html = '', i = 0, xi = (x + 0.5) | 0;
        while (i < xi) {
            html += '<i class="fa fa-dollar"></i>';
            i++;
        }
        return html;
    }

    function atualizarMapa() {
        for (var i = timeouts.length - 1; i >= 0; i--) {
            var timeout = timeouts[i];
            // excluir o marker timeout.marker do mapa
        }
        for (var i = timeoutsFiltrados.length - 1; i >= 0; i--) {
            var timeout = timeoutsFiltrados[i];
            // inclui o marker timeout.marker no mapa
        }
    }

    function limparFiltros() {
        timeoutsFiltrados = timeouts.slice();
        // desativar todos os filtros
        atualizarMapa();
    }

    function atualizarFiltro() {
        timeoutsFiltrados = timeouts.slice();
        if (filtro_horario = true) {
            filtrarHorario();
        }
        if (filtro_preco = true) {
            filtrarPreco();
        }
        if (filtro_ambiente = true) {
            filtrarAmbiente();
        }
        if (filtro_atendimento = true) {
            filtrarAtendimento();
        }
        if (filtro_bebidas = true) {
            filtrarBebidas();
        }
        if (filtro_tiragosto = true) {
            filtrarTiraGosto();
        }
        atualizarMapa();
    }

    function filtrarHorario(botaoInicial, botaoFinal) {
        for (var i = timeoutsFiltrados.length - 1; i >= 0; i--) {
            var horaInicial = timeoutsFiltrados[i].horario_abertura_localizacao;
            var horaFinal = timeoutsFiltrados[i].horario_fechamento_localizacao;
            if (horaInicial <= botaoInicial || horaFinal >= botaoFinal) {
                timeoutsFiltrados.splice(i, 1);
            }
        }
    }

    function filtrarPreco(botao) {
        for (var i = timeoutsFiltrados.length - 1; i >= 0; i--) {
            var preco = timeoutsFiltrados[i].preco_localizacao;
            if (preco > botao) {
                timeoutsFiltrados.splice(i, 1);
            }
        }
    }

    function filtrarAmbiente(botao) {
        for (var i = timeoutsFiltrados.length - 1; i >= 0; i--) {
            var ambiente = timeoutsFiltrados[i].ambiente_localizacao;
            if (ambiente > botao) {
                timeoutsFiltrados.splice(i, 1);
            }
        }
    }

    function filtrarAtendimento(botao) {
        for (var i = timeoutsFiltrados.length - 1; i >= 0; i--) {
            var atendimento = timeoutsFiltrados[i].atendimento_localizacao;
            if (atendimento > botao) {
                timeoutsFiltrados.splice(i, 1);
            }
        }
    }

    function filtrarBebidas(botao) {
        for (var i = timeoutsFiltrados.length - 1; i >= 0; i--) {
            var bebidas = timeoutsFiltrados[i].bebidas_localizacao;
            if (bebidas > botao) {
                timeoutsFiltrados.splice(i, 1);
            }
        }
    }

    function filtrarTiraGosto(botao) {
        for (var i = timeoutsFiltrados.length - 1; i >= 0; i--) {
            var tiraGosto = timeoutsFiltrados[i].tira_gosto_localizacao;
            if (tiraGosto > botao) {
                timeoutsFiltrados.splice(i, 1);
            }
        }
    }
    
    function iniciarMapa(lat, lng) {
        var latlng = new L.LatLng(lat, lng);
        map.setView(latlng, 14);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> <br> <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"         title="Flaticon">www.flaticon.com</a></div>',
            subdomains: ['a', 'b', 'c'],
            center: [latlng],
            minZoom: 10,
            zoom: 14
        }).addTo(map);

        var highDpi = (("matchMedia" in window) && (highDpi = window.matchMedia("(min-resolution: 150dpi)")) && highDpi.matches),
            icons = [null];
        for (i = 2; i >= 1; i--) {
            icons.push(L.icon({
                iconUrl: (highDpi ? "/lib/leaflet/js/images/" + i + "-iconi-2x.png" : "/lib/leaflet/js/images/" + i + "-iconi.png"),
                iconSize: [32, 32],
                iconAnchor: [16, 16],
                popupAnchor: [0, -39]//,
                //        shadowUrl: (highDpi ? "/lib/leaflet/js/images/marker-shadow-2x.png" : "/lib/leaflet/js/images/marker-shadow.png"),
                //        shadowSize: [32, 32],
                //        shadowAnchor: [0, 32]
            }));
        }

        for (var i = 0; i < timeouts.length; i++) {
            var marker = L.marker([timeouts[i].latitude_localizacao, timeouts[i].longitude_localizacao], {
                icon: icons[timeouts[i].id_tipo_local]
            }).addTo(map);
            marker.timeout = timeouts[i];
            timeouts[i].marker = marker;
            timeouts[i].indice = i;
            marker.on('click', onMarkerClick);
        }

        map.on('click', function (e) {
            var popup = L.popup()
                .setLatLng([e.latlng.lat, e.latlng.lng])
                .setContent('<p><a href="/timeout/criar?lat=' + encodeURIComponent(e.latlng.lat) + '&lng=' + encodeURIComponent(e.latlng.lng) + '">Adicionar localização</a></p>')
                .openOn(map);
        });
    }

    if (location.href.indexOf("https://") === 0 || location.href.indexOf("localhost") >= 0) {
        navigator.geolocation.getCurrentPosition(function (location) {
            iniciarMapa(location.coords.latitude, location.coords.longitude);
        });
    } else {
        iniciarMapa(-23.611178, -46.696075);
    }
</script>
