<div class="row">
    <% if (msg) { %>
    <div class="alert alert-danger"><%=msg %></div>
    <% } %>
    <div class="col-lg-12">
        <div id="map" style="height: 410px; border: 1px solid #AAA;"></div>
    </div>
</div>

<%- contentFor("styles") %>
<link rel="stylesheet" type="text/css" href="/lib/leaflet/css/leaflet.css" />

<style type="text/css">

</style>

<%- contentFor("scripts") %>
<script type='text/javascript' src='/lib/leaflet/js/leaflet.js'></script>

<script type='text/javascript'>
    var timeouts = <%- timeouts %>;

    function iniciarMapa(lat, lng) {
        var latlng = new L.LatLng(lat, lng);
        var map = L.map('map').setView(latlng, 14);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
            subdomains: ['a', 'b', 'c'],
            center: [latlng],
            minZoom: 10,
            zoom: 14
        }).addTo(map);

        var highDpi = (("matchMedia" in window) && (highDpi = window.matchMedia("(min-resolution: 150dpi)")) && highDpi.matches),
            icons = [null];
        for (i = 1; i <= 2; i++) {
            icons.push(L.icon({
                iconUrl: (highDpi ? "/lib/leaflet/js/images/" + i + "-icon-2x.png" : "/lib/leaflet/js/images/" + i + "-icon.png"),
                iconSize: [25, 41],
                iconAnchor: [12, 39],
                popupAnchor: [0, -39],
                shadowUrl: (highDpi ? "/lib/leaflet/js/images/marker-shadow-2x.png" : "/lib/leaflet/js/images/marker-shadow.png"),
                shadowSize: [41, 41],
                shadowAnchor: [13, 38]
            }));
        }

        for (var i = 0; i < timeouts.length; i++) {
            var marker = L.marker([timeouts[i].latitude_localizacao, timeouts[i].longitude_localizacao], {
                icon: icons[timeouts[i].id_tipo_local]
            }).addTo(map);
            marker.timeout = timeouts[i];
            timeouts[i].marker = marker;
        }

        map.on('click', function (e) {
            var popup = L.popup()
                .setLatLng([e.latlng.lat, e.latlng.lng])
                .setContent('<p><a href="/timeout/criar?lat=' + encodeURIComponent(e.latlng.lat) + '&lng=' + encodeURIComponent(e.latlng.lng) + '">Adicionar localização</a></p>')
                .openOn(map);
        });
    }
    if (location.href.indexOf("https://") === 0 || location.href.indexOf("localhost") >= 0) {
        navigator.geolocation.getCurrentPosition(function (location) {
            iniciarMapa(location.coords.latitude, location.coords.longitude);
        });
    } else {
        iniciarMapa(-23.611178, -46.696075);
    }
</script>
