<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Adicionar Novo Escritório Líder</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_escritorio_lider" name="id_escritorio_lider" value="<%=(item ? item.id_escritorio_lider : 0) %>" />
				<div class="form-group">
					<label for="nome_escritorio_lider">Nome do Escritório Líder</label>
					<input id="nome_escritorio_lider" name="nome_escritorio_lider" maxlength="255" class="form-control" type="text" spellcheck="false" value="<%=(item ? item.nome_escritorio_lider : '') %>" />
				</div>
			</div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>

		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome_escritorio_lider: {
				required: true,
				minlength: 3,
				maxlength: 255
			},
		},

		submitHandler: function (form) {
			if (JsonWebApi.active)
				return;

			Notification.wait();

			//<% if (item) { %>

			JsonWebApi.postFormData("/api/escritorioLider/alterar", form, function (response) {
				if (response.success)
					Notification.success("Escritório líder alterado com sucesso! \uD83D\uDE04");
				else
					Notification.error(response.value, true);
			});

			//<% } else { %>

			JsonWebApi.postFormData("/api/escritorioLider/criar", form, function (response) {
				if (response.success) {
					form.reset();
					$("#form").validate().resetForm();
					Notification.success("Escritório líder criado com sucesso! \uD83D\uDE04");
				} else {
					Notification.error(response.value, true);
				}
			});

			//<% } %>
		}
	});
    //]]>
</script>


