
<div class="row">
	<div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<form id="form" class="panel panel-default" action="#">
			<div class="panel-heading">Adicionar Novo CC Líder</div>
			<div class="panel-body no-bottom">
				<input type="hidden" id="id_cc_lider" name="id_cc_lider" value="<%=(item ? item.id_cc_lider : 0) %>" />
				<div class="form-group">
					<label for="nome_cc_lider">Nome da Forma de Contato</label>
					<input id="nome_cc_lider" name="nome_cc_lider" maxlength="50" class="form-control upper" type="text" spellcheck="false" value="<%=(item ? item.nome_cc_lider : '') %>" />
				</div>
        
				

      </div>
			<div class="panel-footer">
				<input value="<%=(item ? 'Salvar Alterações' : 'Criar') %>" class="btn btn-primary btn-lg btn-block" type="submit" />
			</div>

		</form>
	</div>
</div>

<%- contentFor("scripts") %>
<script type="text/javascript">
    //<![CDATA[
    "use strict";

    $("#form").validate({
        rules: {
            nome_cc_lider: {
                required: true,
                minlength: 3,
                maxlength: 255
            },
        },

        submitHandler: function (form) {
            if (JsonWebApi.active)
                return;

            Notification.wait();

            //<% if (item) { %>

            JsonWebApi.postFormData("/api/ccLider/alterar", form, function (response) {
				if (response.success)
					Notification.success("CC de Líder alterada com sucesso! \uD83D\uDE04");
				else
					Notification.error(response.value, true);
            });

            //<% } else { %>

            JsonWebApi.postFormData("/api/ccLider/criar", form, function (response) {
				if (response.success) {
					form.reset();
					$("#form").validate().resetForm();
					Notification.success("CC de Líder criada com sucesso! \uD83D\uDE04");
				} else {
					Notification.error(response.value, true);
				}
            });

            //<% } %>
        }
    });
    //]]>
</script>


